:root{
    --primary: #0d0b0e;
    --seconadry: #f20505;
    --text: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas-Neue';
    font-weight: normal;
}

::-webkit-scrollbar{
    width: 7px;
    background-color: var(--primary);
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, var(--seconadry));
    border-radius: 6px ;
}

@font-face{
    font-family: 'Lato';
    src: url(/fonts/Lato/Lato-Light.ttf);
    font-weight: lighter;
}
@font-face{
    font-family: 'Lato';
    src: url(/fonts/Lato/Lato-Regular.ttf);
    font-weight: normal;
}
@font-face{
    font-family: 'Lato';
    src: url(/fonts/Lato/Lato-Bold.ttf);

    font-weight: bold;
}
/* Font Bebas-Neue */
@font-face{
    font-family: 'Bebas-Neue';
    src: url(/fonts/Bebas_Neue/BebasNeue-Light.ttf);
    font-weight: lighter;
}
@font-face{
    font-family: 'Bebas-Neue';
    src: url(/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
    font-weight: normal;
}
@font-face{
    font-family: 'Bebas-Neue';
    src: url(/fonts/Bebas_Neue/BebasNeue-Bold.ttf);
    font-weight: bold;
}
/* Smooth scroll */
.smooth-scroll-wrapper{
    background-color: var(--primary);
    transition: 0.1s;
}
/* Homepage */
/* Nav */
nav{
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 99;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    color: var(--text);
    background-color: var(--primary);
}
.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
.nav-links li{
    list-style: none;
}
.nav-links li a{
    font-family: 'Bebas-Neue';
    font-weight: normal;
    font-size: 24px;
    color: var(--text);
    text-decoration: none;
    letter-spacing: 1px;
}

nav .logo h4{
    font-family: 'Bebas-Neue';
    font-weight: normal;
    font-family: 40px;
}
.logo a{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 200px;
    font-size: 30px;
    margin-right: 420px;
    color: white;
    text-decoration: none;

}
nav .logo{
    margin-left: 50px;
}
nav .logo img{
    display: block;
    height: 80px;
    margin-bottom: 8px;
    margin-right: 20px;
}
nav .nav-links li button{
    background-color: var(--seconadry);
    border: none;
    /* display: block; */
    padding: 9px 25px;
    cursor: pointer;
    transition: padding .1s ease ;
}
nav .nav-links li button:hover{
    background-color: #e94040;
    padding: 12px 28px;
    transition: .3s ease ;
}
/* Nav End */

/* Nav mobile */
.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 5px;
    background-color: #ffffff;
    margin: 5px;
}
@media screen and (max-width: 1024px){
    body{
        overflow-x: hidden;
    }
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 12vh;
        width: 1024px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .logo{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 400px;
        margin-right: 0;
        margin-left: 20px;
    }
    .nav-links{
        display: flex;
        justify-content: space;
        align-items: center;
        width: 100%;
        margin-right: 24%;
    }
}
@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    html{
        overflow-x: hidden;
    }
    nav{
        padding-top: 40px;
        padding-bottom: 40px;
        display: flex;
        /* position: fixed; */
        top: 0;
        width: 100vw;
        z-index: 99;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        height: 15vh;
        color: var(--text);
        background-color: var(--primary);
    }
    .smooth-scroll-wrapper{
        overflow-x: hidden;
    }
    .nav-links{
        overflow-x: hidden;
        position: absolute;
        right: 0px;
        height: 85vh;
        top: 15vh;
        background-color: var(--seconadry); 
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50vw;
        transform: translateX(150%);
        transition: transform 0.5s ease-in;
        overflow-x: hidden;
        /* border: 1px solid white; */
    }
    /* .buttonik a{
        background-color: #0d0b0e;
        width: 0px;
        height: 0px;
        z-index: 40;
        padding: 10px;
    }
    .buttonik:hover{
        background-color: #0d0b0e;
        width: 0px;
        height: 0px;
        z-index: 40;
        padding: 10px;
    } */
    .logo{
        display: flex;
        justify-content: flex-start;
        align-items: space-around;
        width: 50%;

        margin-left: 50px;
        /* margin-left: -400px; */
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
      display: block;
      width: 50vw;
      margin-left: 10%;
    }
}

.nav-active{
    transform: translate(50%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

/* Nav End */

.section-2{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    background-color: var(--primary);
    color: white;
    min-height: 75vh;
    font-family: 'Lato';
    padding-top: 5%;
}
.section-2 h3{
    font-size: 23px;
    font-family: 'Lato';
    margin-left: 20px;
    margin-bottom: 20px;
}
.section-2 .icon{
    width: 30px;
    margin-right: 20px;
}
.section-2 h6{
    font-size: 20px;
    font-family: 'Lato';
}
.section-2 h6 a{
    text-decoration: none;
    font-size: 17px;
    font-family: 'Lato';
    color: white;
}
.section-2 .box-2{
    display: flex;
}
.section-2 .boxing-2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    font-family: 'Lato';
}
img.portrait{
    width: 250px;
}
img:last-of-type{
    margin-left: 20px;
}

.section-2 .boxing-2 .br{
    /* margin-top: 20%; */
    display: flex;
    width: 500px
}
.section-2 .boxing-2 .brek{
    margin-top: 20%;
    display: flex;
}


.section-2 .box-1{
    display: flex;
}
.section-2 .boxing-1{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    font-family: 'Lato';
}
.section-2 .boxing-1 .br{
    margin-top: 20%;
    display: flex;
}
.section-2 .boxing-1 .brek{
    margin-top: 20%;
    display: flex;
}
/* Section 3 */
.section-3{
    min-height: 100vh;
    margin-top: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.section-3 img{
    width: 200px;
}
.section-3 h3{
    font-size: 15px;
    font-family: 'Lato';
    font-weight: bold;
    color: #002c50;
    text-align: center;
}
.section-3 .platyna{
    /* margin-top: 50px; */
    text-align: center;
}
.section-3 div{
    margin-top: 100px;
    text-align: center;
}
.section-3 h3{
    margin-top: 0px;
}
.section-3 .srebny{
    margin-bottom: -100px;
    /* width: 100vw;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center; */
}
.section-3 .srebny div{
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section-3 .organizatorzy{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.section-3 .organizatorzy .wspolorganizator img{
    margin-top: 30px;
    margin-right: 10px;
}
.section-3 .organizatorzy .patronat img{
    margin-top: 30px;
    margin-right: 10px;
}
.section-3 .patroni h3{
    text-align: center;
}
.section-3 .patroni div{
    display: flex;
    flex-direction: row;
    width: 700px;
    margin-top: 0px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.section-3 .medialni{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 0px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}
.section-3 .medialni-2{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 0px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}
.section-3 .medialni-3{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 0px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}.section-3 .medialni-4{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 0px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}
@media screen and (max-width: 768px){
    .section-3{
        display: flex;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }
    .section-3 img{
        margin-top: 30px;
    }
    .section-3 .srebny div{
        display: flex;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }
    .section-3 .organizatorzy{
        display: flex;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }
    .section-3 .organizatorzy .wspolorganizator img{
        margin-top: 30px;
        margin-right: 10px;
    }
    .section-3 .organizatorzy .patronat img{
        margin-top: 30px;
        margin-right: 10px;
    }
    .section-3 .patroni h3{
        text-align: center;
    }
    .section-3 .patroni div{
        display: flex;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }
    .section-3 .medialni{
        display: flex;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }
    .section-3 .medialni-2{
        display: flex;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }
    .section-3 .medialni-3{
        display: flex;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }
    .section-3 .medialni-4{
        display: flex;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }
}
/* End section 3 */
/* After Section 4 */
.section-4head{
    /* position: absolute; */
    /* background-image: url(/img/Tymczasowe_zdjecia/glowne.png); */
    background-color: var(--primary);
    height: 25vh;
    width: 100%;
    background-size: cover;
    margin-top: 10vh;
}
.section-4head h1{
    position: relative;
    color: white;
    font-size: 82px;
    top: 10vh;
    margin-left: 10vw;
}
/* Section 4 */
.section-4{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: var(--primary);
    color: white;
    min-height: 75vh;
    font-family: 'Lato';
    padding-top: 5%;
    height: 70vh;
}
.section-4 aside{
    height: 50vh;
    width: 70%;
    background-image: url(/img/Tymczasowe_zdjecia/glowne.png);
    background-size: cover;
    margin-top: -20vh;
}
.section-4 main{
    width: 50%;
}
.section-4 main h2{
    font-family: 'Lato';
    font-size: 30px;
    margin-left: 50px;
    margin-bottom: 100px;
}
.section-4 main h6{
    font-family: 'Lato';
    font-size: 20px;
    margin-left: 50px;
}
.section-4 .boxing-4{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    font-family: 'Lato';
}

.section-4 .boxing-4 .br{
    margin-top: 20%;
    display: flex;
}
.section-4 .boxing-4 .brek{
    margin-top: 20%;
    display: flex;
}
.section-4 a{
    font-family: 'Lato';
    margin-left: 10px;
    font-size: 22px;
    text-decoration: none;
    color: white;
}
.section-4 .icon{
    /* height: 30px; */
    width: 30px;
    margin-left: 50px;
}
.section-4 .box-4{
    display: flex;
}
.section-4 .boxing-4{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    font-family: 'Lato';
}
.section-4 .boxing-4 .br{
    display: flex;
    width: 100%;
}
.section-4 .boxing-4 .brek{
    /* margin-top: 20%; */
    display: flex;
    width: 500px;
}

@media screen and (max-width: 768px){
    .section-4 aside{
        display: none;
        height: 50vh;
        width: 70%;
        background-image: url(/img/Tymczasowe_zdjecia/glowne.png);
        background-size: cover;
        margin-top: -20vh;
    }
    .section-4head h1{
        position: relative;
        color: white;
        font-size: 72px;
        top: 10vh;
        text-align: center;
        margin-left: 0;
    }
    /* Section 4 mobile */
    .section-4{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        background-color: var(--primary);
        color: white;
        min-height: 75vh;
        font-family: 'Lato';
        padding-top: 5%;
        height: 70vh;
    }
    .section-4 aside{
        height: 50vh;
        width: 100%;
        background-image: url(/img/Tymczasowe_zdjecia/glowne.png);
        background-size: cover;
        margin-top: -20vh;
    }
    .section-4 main{
        width: 100%
    }
    .section-4 main h2{
        font-family: 'Lato';
        font-size: 30px;
        margin-left: 0;
        text-align: center;
        margin-bottom: 100px;
    }
    .section-4 main h6{
        font-family: 'Lato';
        font-size: 20px;
        margin-left: 0px;
        text-align: center;
        width: 100%;
    }
    .section-4 .boxing-4{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        font-family: 'Lato';
    }
    
    .section-4 .boxing-4 .br{
        margin-top: 20%;
        display: flex;
    }
    .section-4 .boxing-4 .brek{
        margin-top: 20%;
        display: flex;
    }
    .section-4 a{
        font-family: 'Lato';
        margin-left: 10px;
        font-size: 15px;
        text-decoration: none;
        color: white;
    }
    .section-4 .icon{
        /* height: 30px; */
        width: 30px;
        margin-left: 50px;
    }
    .section-4 .box-4{
        display: flex;
    }
    .section-4 .boxing-4{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        width: 300px;
        font-family: 'Lato';
    }
    .section-4 .boxing-4 .br{
        display: flex;
        width: 100%;
    }
    .section-4 .boxing-4 .brek{
        /* margin-top: 20%; */
        display: flex;
        width: 100%;
    }
    .section-4 .boxing-4 .brek a{
        margin-left: -60px;
    }
    
}

/* Footer */
footer{
    min-height: 10vh;
    background-color: var(--primary);
    display: flex;
    justify-content: space-around;
    align-items: space-evenly;
}
footer .footer-links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
}
footer .footer-links li{
    width: 100%;
    text-align: center;
    flex-grow: 1;
}
footer .footer-links li a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}
footer .footer-links li a:last-of-type{
    margin-right: 10px;
}
footer .footer-links li:last-of-type{
    display: flex;
    flex-basis: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
footer .footer-links li button{
    background-color: var(--seconadry);
    border: none;
    /* display: block; */
    padding: 9px 25px;
    cursor: pointer;
    transition: padding .1s ease ;
}
nav .footer-links li button:hover{
    background-color: #e94040;
    padding: 12px 28px;
    transition: .3s ease ;
}
footer .footer-links li button a{
    margin-left: 10px;
    text-decoration: none;
    color: white;
}
@media (max-width: 768px){
    footer{
        min-height: 10vh;
        background-color: var(--primary);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer .footer-links{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100vw;
    }
    footer .footer-links li{
        width: 100%;
        text-align: center;
        flex-grow: 1;
        list-style: none;
    }
    footer .footer-links li:first-of-type{
        margin-left: 5px;
    }
    footer .footer-links li a{
        display: flex;
        font-size: 10px;
        color: white;
        text-decoration: none;
        text-align: center;
    }
    footer .footer-links li a:last-of-type{
        margin-right: 5px;
    }
    footer .footer-links li:last-of-type{
        display: flex;
        flex-basis: 2;
        text-align: center;
        justify-content: stretch;
        align-items: center;
        flex-wrap: nowrap;
    }
    footer .footer-links li:last-of-type a:last-of-type{
        margin-right: 10px;
    }
    footer .footer-links li button{
        background-color: var(--seconadry);
        border: none;
        /* display: block; */
        padding: 3px 1px;
        margin-right: 3px;
        cursor: pointer;
        transition: padding .1s ease;

    }
    nav .footer-links li button:hover{
        background-color: #e94040;
        transition: .3s ease ;
    }
    footer .footer-links li button a{
        margin-left: 10px;
        text-decoration: none;
        color: white;
    }
}
/* Footer END */

.smooth-scroll-wrapper{
    background-color: var(--primary);
    transition: 0.1s;
}